{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>Spelet 21</h1>

    <h2 id="kmom1">Din Korthand</h2>

    <div class="card"

    </div>
    <ul>
    {% for values in remainingDeck %}
        <li class="cards">{{ values }}</li>
    {% endfor %}

    <p>Din korthand 채r v채rd {{ sumHand }} po채ng</p>
    </ul>
    <form method="post" action="">
    <p>
        <input type="submit" name="draw" value="Draw"
            onClick="this.form.action='{{ path('game_draw') }}';"
        >
        
        <input type="submit" name="stand" value="Stand"
            onClick="this.form.action='{{ path('game_stand') }}';"
        >

        <input type="submit" name="restart" value="Play Again"
            onClick="this.form.action='{{ path('card_game_init') }}';this.form.method='get';"
        >
    </p>
</form>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

        </article>
    </main>

    <aside class="aside">
        <h2>Inneh책ll</h2>
        <a href="{{ path('show_deck') }}"><h3>Show Deck</h3></a>
        <a href="{{ path('shuffle_deck') }}"><h3>Shuffle Deck</h3></a>
        <a href="{{ path('draw_one') }}"><h3>Draw 1 Card</h3></a>
        <a href="{{ path('draw_several', {num: 5}) }}""><h3>Draw 5 Cards</h3></a>
    </aside>
</div>
{% endblock %}
