{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>Kurs Rapporter</h1>

    <h2 id="kmom1">Kursmoment 1</h2>
    <p>Card klassen har inga riktiga värden eller metoder, utan är i detta fall bara ett objekt som används i kompositioner som i "hand" och "DeckOfCards. Arvet i systemet är via CardGraphic som då visar upp en grafisk representation av samtliga kort.</p>

    <a href="{{ asset('img/KMOM02_UML.png') }}">
        <img src="{{ asset('img/KMOM02_UML.png') }}" alt="">
    </a>
        </article>
    </main>

    <aside class="aside">
        <h2>Innehållsförteckning</h2>
        <a href="{{ path('show_deck') }}"><h3>Show Deck</h3></a>
        <a href="{{ path('shuffle_deck') }}"><h3>Shuffle Deck</h3></a>
        <a href="{{ path('draw_one') }}"><h3>Draw Card</h3></a>
        <a href="{{ path('draw_several', {num: 5}) }}"><h3>Draw 5 Cards</h3></a>
    </aside>
</div>
{% endblock %}