{% extends "base.html.twig" %}

{% block title %}Showing Library{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>/Show Library</h1>

    <h2 id="kmom1">Här kan du se alla böcker</h2>
    
    <table style="width: 100%;">
    <thead style="background-color: #04AA6D; padding: 8px;">
    <tr>
        <th style="padding: 16px;">Namn</th>
        <th>Författare</th>
        <th>ISBN</th>
        <th>Uppdatera</th>
        <th>Radera</th>
    </tr>
    </thead>
    <tbody>
    {% for book in bookArray %}
    <tr>
    <td style="border: 1px solid #ddd; padding: 32px; text-decoration: underline;"><a href="{{ path('book_by_id', {'id': book.id})}}">{{book.name}}</a></td>
    <td style="border: 1px solid #ddd; padding: 32px;">{{book.author}}</td>
    <td style="border: 1px solid #ddd; padding: 32px;">{{book.isbn}}</td>
    <td style="border: 1px solid #ddd; padding: 32px; font-size: 24px;"><a href="update/{{book.id}}">✎</a></td>
    <form method="post" action="{{ path('book_delete_by_id') }}">
    <td style="border: 1px solid #ddd; padding: 32px; font-size: 24px;"><button type="submit" name="id" value="{{book.id}}"
            onClick="this.form.action={{ path('book_delete_by_id', {'id': book.id})}}">🗑</button></td>
    </form>
    </tr>
    {% endfor %}
    </table>
    
    </article>
    </main>

</div>
{% endblock %}
