{% extends "base.html.twig" %}

{% block title %}Showing Book{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>/Show Single Book</h1>
    
    <a href="{{ asset("img/" ~ img ) }}">
        <img src=" {{ asset("img/" ~ img ) }} " alt="">
    </a>

    <h2>Titel</h2>
    <p>{{name}}</p>

    <h2>Författare</h2>
    <p>{{author}}</p>

    <h2>ISBN</h2>
    <p>{{ISBN}}</p>


    </article>
    </main>

</div>
{% endblock %}
