{% extends "base.html.twig" %}

{% block title %}Creating Book{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main">
        <article class="article">
        <h1>/Uppdatera Bok</h1>
    
    <h2 id="kmom1">Fyll i information nedan</h2>
    
    <form method="post" action="{{ path('book_update_confirm') }}">
<fielset>

    <p>
        <label> ID:
            <input type="text" name="id" value="{{id}}" readonly>
        </label>
    </p>
    <p>
        <label> Titel:
            <input type="text" name="name" value="{{name}}">
        </label>
    </p>
    <p>
        <label> Författare:
            <input type="text" name="author" value="{{author}}">
        </label>
    </p>
    <p>
        <label> ISBN:
            <input type="number" name="isbn" value="{{ISBN}}">
        </label>
    </p>
    <p>
        <label> Bild:
            <input type="text" name="img" value="{{img}}">
        </label>
    </p>
    <p>
        <input type="submit" name="doIt" value="Uppdatera Bok">
    </p>
</fieldset>
</form>
    
    </article>
    </main>

</div>
{% endblock %}
